<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../general_style/general_style.css">
</head>
<body>
    <nav class="nav-set">           
        <ul id="list-nav">
            <li><a href="">
                <img src="../assets/logo/kelenFila.png" id="logo" alt="kelenFila" title="Votre partenaire de confiance">
            </a></li>
            <li><a href="#">Accueil</a></li>
            <li id="acheter-nav-btn">
                <span>Acheter</span>
                <div id="menu-acheter-btn">
                    <div class="column-menu">
                        <ul class="liste-menu">
                            <li class="head"> Ameublement 
                                <p>Mobilier</p>
                                <p>Tapis Et Tentures</p>
                            </li>
                            <li class="head">Art et decoration
                                <p>Objets d'Art</p>
                                <p>Art Ivoirien et Africain</p>
                                <p>Photographie</p>
                                <p>Tableaux</p>
                            </li>
                            <li class="head">Arts de table</li>
                            <li class="head">Horlogerie</li>
                            <li class="head">Jouets</li>
                            <li class="head">Livres</li>
                        </ul>
                    </div>
                    <div class="column-menu">
                        <ul class="liste-menu">
                            <li class="head">Mode Et bijoux</li>
                            <li class="head">Musique</li>
                            <li class="head">Vins Et spiritueux</li>
                            <li class="head">Collections</li>
                            <li class="head">Divers</li>
                        </ul>
                    </div>
                    <div class="column-menu">
                        <ul class="liste-menu">
                            <li class="head">Informatique et Téléphonie</li>
                            <li class="head">Electroménager & Matériel professionnel</li>
                            <li class="head" id="vehicule">Véhicules</li>
                            <li>Voitures de sport et de Collection</li>
                            <li>Autre Véhicules et Engins</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="#">Ventes en cours</a></li>
            <li><a href="#">Vendre</a></li>
            <li><a href="#">Compte <img class="nav-ico" id="account-ico" src="../assets/icon/account.svg" alt=""> </a></li>
            <li><a href="#">Se déconnecter <img class="nav-ico" id="disconect-ico" src="../assets/icon/disconect.svg" alt=""> </a></li>
        </ul>
        <div class="nav-set" id="under-nav">
            <ul id="list-under-nav">
                <li id="search_icon">
                    <img src="../assets/icon/search_btn.svg" alt="">
                </li>
                <li id="searchBar-bloc">
                    <input type="text" id="searchBar" placeholder="Recherchez une enchère, un produit etc">
                </li>
            </ul>
        </div>
</nav> 
</body>
</html>