<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../general_style/general_style.css">
</head>
<body>
    <section id="bloc-article">  
        <ul id="ul_under_bloc-article">
            <li class="card-lot">
                <a href="">
                    <div class="card-bloc-img">
                        <img src="/opt/lampp/htdocs/APP2_files/image_prod/buggatti_57.png" alt="montre">
                    </div>
                    <ul class="descript-card">
                        <li class="lot">
                            <span class="numLot">Lot 2</span>
                            <span class="rigth-span-etat">enchere en cours...</span>
                        </li>
                        <li class="designLot">
                            <span class="left-span">Nom</span>
                            <span class="rigth-span">Watcher UX</span>
                        </li>
                        <li class="prixLot">
                            <span class="left-span">Estimation</span>
                            <span class="rigth-span">45.0000 FCFA</span>
                        </li>
                        <li class="descriptLot">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, tempora illum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, non illo. Illo placeat, dignissimos quae, similique reiciendis provident quia autem dolore debitis molestiae harum culpa laborum? Tenetur qui dolore voluptas. Ipsum, quae necessitatibus, amet tempora, eveniet sequi placeat quis explicabo quasi blanditiis consequatur asperiores fugit quclassem maiores doloremque animi.</p>
                        </li>
                        <li class="action-bloc">
                            <a href="#">
                                <button class="action-btn">Participer <img src="" alt=""></button>
                            </a>
                        </li>
                    </ul>
                </a>
                
            </li>
              
        </ul>
    </section>
    <script src="../"></script>
</body>
</html>